.srex-question-two {
	background: $gray-color;
	padding: 100px 0;

	@media #{$small_mobile} {
		padding: 70px 0;
	}

	.accordion {
		&-item {
			box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
			background-color: $white-color;
			border: 1px solid $white-color;
			border-radius: 30px;
			margin-bottom: 30px;
			@media #{$small_mobile} {
				margin-top: 20px;
			}
		}
		&-header {
			&__left {
				display: inline-flex;
				gap: 20px;
				align-items: center;
				h3 {
					@media #{$small_mobile} {
						font-size: 15px;
					}
				}
			}
		}
		&-button {
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			border: 30px;
			padding: 20px;
			text-transform: capitalize;
			background-color: transparent;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
			transition: all 0.3s ease-in-out;
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			h3{
				color: $text-primary;
				padding-left: 15px;
			}

			&::after {
				content: none;
			}

			@media #{$small_mobile} {
				padding: 10px;
				font-size: 14px;
			}
			&:focus {
				border: none;
				box-shadow: unset;
				outline: none;
			}
			&:not(.collapsed) {
				background-color: $white-color;
				color: $border-primary;
				border-top-left-radius: 30px;
				border-top-right-radius: 30px;
				.open {
					display: none;
				}
				.close {
					display: block;
				}
			}
			i {
				color: $text-primary;
				margin-right: 20px;
				font-size: 20px;
				transition: all 0.3s ease-in-out;
			}
			.open {
				display: block;
				color: $primary-color;
			}
			.close {
				display: none;
			}
		}
		
		&-body {
			font-size: 16px;
			color: $text-primary;
			background: $white-color;
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
			padding: 0 60px 25px 30px;
			@media #{$small_mobile} {
				font-size: 15px;
				padding-top: 0;
				// line-height: 18px;
				padding: 20px 30px 30px 30px;
			}
		}

		&-collapse {
			&.show {
				background-color: $white-color;
				border-bottom-left-radius: 30px;
				border-bottom-right-radius: 30px;
			}
		}
	}

	&__right{
		position: relative;
		img {
			border-radius: 20px;
			width: 100%; 
		}
	
		&__box {
			position: absolute; 
			bottom: 23px; 
			left: 30px;
			width: 305px;
			width: 305px;
			background: $primary-color;
			color: $white-color;
			padding: 30px 40px;
			border-radius: 20px;
			
			h2, h4 {
				color: $white-color;
			}
		}
}
}
