.srex-video {
    margin-top: -330px;
    @media #{$small_mobile} {
        margin-top: -80px;
        margin-bottom: 60px;
    }
    @media #{$tab_device} {
		margin-top: -120px;
        margin-bottom: 60px;
	}
    @media #{$lg_device} {
		margin-top: -180px;
        margin-bottom: 40px;
	}
    &__box {
        position: relative;
        img {
            border-radius: 40px;
            @media #{$small_mobile} {
                height: 150px;
                object-fit: cover;
            }
        }
    }
    &__play__btn {
        background: $primary-color;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        &:hover {
            color: $white-color !important;
            i {
                transform: scale(1.1);
            }
        }
        @media #{$small_mobile} {
            height: 60px;
            width: 60px;
        }
        @media #{$tab_device} {
            height: 80px;
            width: 80px;
        }
        @media #{$lg_device} {
            height: 100px;
            width: 100px;
        }
        i {
            font-size: 50px;
            transition: all 0.3s ease-in-out;
            @media #{$small_mobile} {
                font-size: 30px;
            }
            @media #{$tab_device} {
                font-size: 40px;
            }
            
        }
    }
}